<a href="https://colab.research.google.com/github/nicole-hjlin/mpala-tree-mapping/blob/main/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis
Identifying tree species in Mpala with airborne LiDAR images

In [1]:
# Mount Google Drive (where data sit)
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [6]:
# set project folder
import os
## this might be different for different users
project_path = os.path.join('/content', 'drive', 'My Drive', 'classes', '2022 fall', 'CS 288 AI for Social Impact', 'CS288 Final Project - Tree Species')

In [4]:
# Import code utilities files
import sys
sys.path.insert(0, os.path.join(project_path, 'mpala-tree-mapping'))

In [59]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from osgeo import gdal

## ForestGEO tree labels

In [42]:
# read data
forestgeo = pd.read_csv(os.path.join(project_path, 'PlotDataReport10-07-2022_1734418034.txt'), delimiter = "\t")
forestgeo.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,Latin,Mnemonic,SubSpecies,Quadrat,PX,PY,TreeID,Tag,StemID,StemTag,Census,DBH,HOM,Date,Codes,Stem,Status
0,1,Acacia brevispica,ACACBR,NaN,221,36.30040,400.50461,124386,20847,254971,020847,1,77.0,0.5,2012-11-20,NaN,main,alive
1,2,Acacia brevispica,ACACBR,NaN,311,51.84520,206.57974,124814,30407,255478,030407,1,37.0,0.5,2012-11-17,NaN,main,alive
2,3,Acacia brevispica,ACACBR,NaN,503,81.23257,58.41180,126361,50086,257294,050086,1,50.0,0.5,2012-11-23,NaN,main,alive
3,4,Acacia brevispica,ACACBR,NaN,10001,1982.57861,9.46110,131025,1000015,262757,1000015,1,23.0,0.5,2014-11-15,M,main,alive
4,5,Acacia brevispica,ACACBR,NaN,10001,1982.57861,9.46110,131025,1000015,262758,1000016,1,23.0,0.5,2014-11-15,NaN,NaN,alive

In [56]:
# summary stats
print('-- data collection period: ', min(forestgeo['Date']), '-', max(forestgeo['Date']))
print('-- total data points: ', len(forestgeo))
print('-- total trees: ', len(forestgeo[forestgeo['Stem'] == 'main']))
print('-- total # of species: ', len(np.unique(forestgeo['Latin'])))
print('-- distribution of tree species: \n', forestgeo['Latin'].value_counts())

-- data collection period:  2010-02-09 - 2015-04-21
-- total data points:  364068
-- total trees:  136752
-- total # of species:  67
-- distribution of tree species:
 Croton dichogamous         74880
Acacia brevispica          70835
Euclea divinorum           66000
Acacia drepanolobium       32459
Acacia mellifera           32061
                           ...
Ormocarpum trachycarpum        2
Acacia senegal                 2
Dodonaea angistifolia          1
Psychotria sp.                 1
Acacia tortilis                1
Name: Latin, Length: 67, dtype: int64

## Airborne LiDAR Images from Davies Lab

In [60]:
# data path
lidar_path = os.path.join(project_path, 'MpalaForestGEOPlotData', 'data')

In [70]:
# count the number of images in each folder
print(os.listdir(lidar_path))
print(os.listdir(os.path.join(lidar_path, 'HighResAcquisitions')))
print('number of images in MpalaForestGEO_CHM_tiledforsegmentation: ', len(os.listdir(os.path.join(lidar_path, 'HighResAcquisitions', 'MpalaForestGEO_CHM_tiledforsegmentation'))))
print('number of images in MpalaForestGEO_LasClippedtoTreePolygons: ', len(os.listdir(os.path.join(lidar_path, 'HighResAcquisitions', 'MpalaForestGEO_LasClippedtoTreePolygons'))))

['LowResAcquisitions', 'HighResAcquisitions']
['MpalaForestGeo_DTM_010m.tif', 'MpalaForestGeo_CHM_010m.tif', 'MpalaForestGEO_CHM_tiledforsegmentation', 'MpalaForestGEO_LasClippedtoTreePolygons', 'MpalaForestGEO_LasTileswithHeight', 'MpalaForestGEO_Shapefile050mCanopySegmentation']
number of images in MpalaForestGEO_CHM_tiledforsegmentation:  41
number of images in MpalaForestGEO_LasClippedtoTreePolygons:  43709

In [ ]:
# display sample images